<html>
    <head>
        <title>Task Manager</title>
        <link href="/css/styles.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="header">
                     <img src="/images/logo.png" class="logo">
                        <nav>
                            <ul>
                              <li>
                                   <a href="/addnew">Add New Task</a>
                               </li>
                                <li>
                                    <a href="/getAll">List Tasks</a>
                                </li>
                            </ul>
                        </nav>
                </div>
            </div>
        </div>
        
        
    </body>
</html>